:root{
  --main-color: #1F1F1F;
  --secundary-color: #8695A4;
  --title-color: #FFFFFF;
  --text-color: #BAC1C3;
  --details-color: #767676;
}

*{
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  width: 100%;

  background-color: var(--main-color);
  font-family: 'Heebo', sans-serif;
}

h2{
  color: var(--title-color);
  padding-left: 5%;

  font-size: 1.5em;
  font-weight: bold;
}

p{
  margin-top: 20px;
  color: var(--text-color);

  font-size: 16px;
  font-weight: 400;
}

/*NAV BAR*/
nav{
  display: flex;
  width: 50%;
  padding: 8% 0 0% 5%;

  align-items: center;
  justify-content: space-between;
}

#btn_mobile{
  display: none;
  background-color: var(--main-color);
  border: none;
}

#btn_mobile:hover{
  cursor: pointer;
}

#menu a{
  color: var(--text-color);
}

ul{
  width: 50%;
  display: flex;
  justify-content: space-between;
}

nav ul li,a{
  text-decoration: none;
  list-style-type: none;
}

/*HEADER - ABOUT*/
.about{
  display: flex;
  flex-direction: column;
  margin: 10%;

  align-items: center;
  text-align: center;
}

.about .text{
  margin-top: 27px;
  font-weight: 400;
}

.text button{ 
  width: 208px;
  height: 50px;
  margin-top: 27px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 18px;

  border: none;
  border-radius: 4px;
  background-color: var(--secundary-color);
}

.text button:hover{
  background-color: var(--main-color);
  border: solid 2px var(--title-color);
  color: var(--title-color);
  transition-duration: 800ms;
  
  cursor: pointer;
}

sup, sub{
  font-size: 24px;
  font-family: 'Gochi Hand';
  color: var(--details-color);
}


.projects .cards{
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: center;
}

.projects .cards .pcard{
  display: flex;
  margin-top: 5%;
  
  width: 210px;
  height: 130px;

  align-items: center;
  justify-content: center;
  
  border-radius: 10px;

  background-color: var(--details-color);
  opacity: 0.5;
}

.pcard img{
  width: 120px;
}

.projects .cards .pcard:hover{
  cursor: pointer;

  background-color: #FFFFFF;
  opacity: 1;
  transition-duration: 800ms;
}

/*CARDS BACKGROUND COLOR*/
#card1, #card3{
  background-color: #FFFFFF;
}
#card2{
  background-color: #04D361;
}
#card2 img{
  margin-left: 20px;
}
#card4{
  background-color: #0077B7;
}

/*SECTION 2 - HABILITIES*/
#habilities{
  display: flex; 
  margin-top: 10%;
  flex-direction: column;
}

#habilities img{
  margin-top: 5%;
  width: 60%;

  align-self:center;
  justify-self: center;
}

/*FOOTER*/
footer{
  display: flex;
  flex-direction: column;

  margin-top: 10%;
  padding: 0 10% 0 10%;
  height: 200px;

  background-color: var(--title-color);

  align-items: center;
  justify-content: center;
}

footer .social_media{
  display: flex;

  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}



.social_media a{
  text-decoration: none;
}

.social_media img{
  width: 30px;
  padding: 0 1em;
}

footer small{
  padding-top: 5%;
  color: var(--main-color);
  text-align: center;
}

@media (max-width:800px){
  #btn_mobile{
    display: block;
  }

  #menu{
    display: none;

    position: absolute;
    top: 10%;
  }

  #menu li{
    width: 70px;
    padding: 2%;
    background-color: var(--main-color);
  }

  #nav.active #menu{
    display: block;
  }
}